/*The code below is common code that applies to all screen sizes, further down I implement more specific code for different screen sizes.*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(237, 219, 219);
  margin: 0px;
}
.main {
  width: 85%;
  margin: auto;
  background-color: rgb(228, 210, 210);
}
.backgroundimage {
  background-image: url(img/bild9.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.menuicon {
  height: 62px;
  width: 62px;
  margin-left: 100px;
}
.backgroundimage > p {
  color: rgb(114, 89, 89);
  font-size: x-large;
  margin-top: 5%;
  font-style: italic;
  text-align: center;
  padding: 60px;
}
/* Hide Hamburger menu */

#check {
  display: none;
}
/*In order to easily structure the code, I used flexbox throughout the code*/
.menu {
  height: 100px;
  background-color: rgb(126, 95, 95);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.leftmenucontainer {
  display: flex;
  align-items: center;
  gap: 4px;
}
.name {
  text-decoration: none;
  color: rgb(248, 229, 229);
  font-size: x-large;
  font-family: cursive;
}
.menu > ul {
  list-style-type: none;
  margin-right: 100px;
  padding: 0;
}
.menu > ul > li {
  display: inline;
  margin-right: 10px;
}
.menulink {
  text-decoration: none;
  color: rgb(248, 229, 229);
}
h1 {
  color: rgb(101, 77, 77);
  font-family: cursive;
}
hr {
  width: 100%;
  height: 3px;
  background-color: brown;
  border-color: brown;
}
.container {
  justify-content: center;
  display: flex;
  gap: 50px;
}
.about {
  color: rgb(248, 229, 229);
  background-color: rgb(153, 116, 116);
  padding: 20px;
  height: 200px;
  width: 300px;
}
img {
  height: 241px;
  width: 320px;
}
.interest {
  color: rgb(248, 229, 229);
  background-color: rgb(153, 116, 116);
  padding: 20px;
  height: 200px;
  width: 300px;
}
h4 {
  font-style: italic;
  font-size: x-large;
  color: rgb(81, 61, 61);
  margin-left: 5%;
  margin-top: 5%;
}
.hr2 {
  width: 90%;
  height: 1%;
  margin: auto;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1200px;
  margin: auto;
  padding: 20px 10px;
}
.text {
  display: inline-block;
  color: rgb(56, 45, 45);
  font-size: large;
  padding: 4%;
  height: 20%;
  width: 45%;
}
.nurse {
  border-radius: 50%;
  padding: 4%;
  height: 30%;
  width: 28%;
}
.career {
  display: flex;
  align-items: center;
  justify-content: center;
}
.end {
  color: rgb(56, 45, 45);
  text-align: center;
}
/* Code for contact me page starts herer.*/
.p {
  text-align: center;
  font-size: larger;
  color: rgb(56, 45, 45);
}
form {
  margin: auto;
}
.form,
.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: medium;
  min-width: 300px;
  color: rgb(56, 45, 45);
}
.input {
  background-color: rgb(193, 166, 166);
  border-color: white;
}
input[type="submit"] {
  display: block;
  width: 60%;
  height: 2em;
  margin: 1.5em auto;
  font-size: 1.1rem;
  color: rgb(56, 45, 45);
  background-color: rgb(193, 166, 166);
  border-color: white;
  min-width: 200px;
}
/* code for contact me page ends here*/
footer {
  margin-top: auto;
  height: 100px;
  background-color: rgb(126, 95, 95);
}
.iconscontainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.icons {
  height: 32px;
  width: 32px;
}
/* SMALL. here I apply more specific code for smaller devices and screens.*/
@media screen and (min-width: 360px) and (max-width: 767px) {
  .main {
    width: 100%;
    margin-top: 100px;
  }
  .menu {
    position: fixed;
    width: 100%;
  }
  .menuicon {
    margin-left: 20px;
  }
  h1 {
    margin-left: 5%;
  }
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .about,
  .interest {
    width: 80%;
    font-size: large;
  }
  .career {
    flex-direction: column-reverse;
  }
  .nurse {
    height: 60%;
    width: 60%;
  }
  .text {
    height: 80%;
    width: 80%;
  }
  .p {
    margin-top: 100px;
    padding: 4%;
  }
}
/* MEDIUM. here I apply more specific code for medium devices and screens*/
@media screen and (min-width: 768px) and (max-width: 1099px) {
  .main {
    width: 100%;
  }
  .menuicon {
    margin-left: 48px;
  }
  h1 {
    margin-left: 7%;
  }
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .container > img {
    border-radius: 30%;
    height: 50%;
    width: 60%;
  }
  .about,
  .interest {
    width: 80%;
    font-size: large;
  }
  .about {
    text-align: center;
  }
  .interest > h3 {
    display: flex;
    justify-content: center;
  }
}
/*Small and Medium. to avoid repeating code, I made this media quert with specific code that fits both small and medium sized devices and screens. */
@media screen and (min-width: 360px) and (max-width: 1099px) {
  /*Hamburger menu to small and medium devices*/
  .checkbtn {
    font-size: 30px;
    color: rgb(248, 229, 229);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: block;
  }

  nav ul li {
    display: block;
  }
  ul > li:first-child {
    margin-top: 40px;
  }
  a:hover,
  a.active {
    background-color: none;
    color: rgb(114, 86, 86);
  }
  #check:checked ~ ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(94, 69, 69);
    top: 80px;
    text-align: center;
    gap: 40px;
    font-size: large;
  }
  #check ~ ul {
    display: none;
  }
  hr {
    width: 100%;
  }
}
/* LARGE. more specific code for larger screens from small laptops to larger screens*/
@media screen and (min-width: 1100px) {
  /*Hide hamburger menu from large devices (small laptops and above)*/
  .checkbtn {
    display: none;
  }
  h1 {
    margin-left: 5%;
  }
}
